
@{
    @model IJERTS.Objects.Users
    ViewData["Title"] = "Change Password";
}

<div class="row">

    <div class="row">
        <div class="col-sm-12">
            <h2>Change Password</h2>
        </div>
    </div>

    <div class="col-12">
        <div class="card-box">

            @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmChangePassword", @class = "frmChangePassword", @autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-12">
                        <div class="p-20">
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="example-email">Current Password&nbsp;<span class="req">*</span></label>
                                <div class="col-4">
                                    @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", @maxlength = 25, @placeholder = "Current Password", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="example-email">New Password&nbsp;<span class="req">*</span></label>
                                <div class="col-4">
                                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @maxlength = 25, @placeholder = "New Password", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="example-email">Confirm Password&nbsp;<span class="req">*</span></label>
                                <div class="col-4">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @maxlength = 25, @placeholder = "Confirm Password", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="form-group mb-0 justify-content-end row">
                                <div class="col-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-light btnChange" id="btnChange">Submit</button>
                                    <button type="submit" class="hidden" id="btnSubmit">Submit</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label id="lblError" class="text-danger"> @TempData["PasswordChangedMessage"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>

<script type="text/javascript">

    $(".btnChange").click(function (event) {
        error = 0;
        event.preventDefault();

        if ($("input[name='CurrentPassword']").val().trim() == "") {
            $.alert('Please enter the Current Password');
            $("#CurrentPassword").focus();
            return false;
        }
        else if ($("input[name='NewPassword']").val().trim() == "") {
            $.alert('Please enter the New Password');
            $("#NewPassword").focus();
            return false;
        }
        else if ($("input[name='ConfirmPassword']").val().trim() == "") {
            $.alert('Please enter the Confirm Password');
            $("#ConfirmPassword").focus();
            return false;
        }
        else if ($("input[name='NewPassword']").val().trim() != $("input[name='ConfirmPassword']").val().trim()) {
            $.alert('Please verify the New and Confirm Password are same');
            $("#NewPassword").focus();
            return false;
        }
        else
        {
            $("#btnSubmit").click();
            return true;
        }
    });
</script>